@using BlogProj.Services
@inject IBlogFileService _fileService
@model IEnumerable<Post>

@{
    ViewData["Title"] = "Landing Page";
}

<!-- Main Content-->
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        @foreach (var post in Model)
        {
            <div class="post-preview">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <img class="img-fluid" src="@_fileService.DecodeImage(post.ImageData, post.ContentType)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-dark btn-block btn-sm" asp-controller="Posts" asp-action="Details" asp-route-slug="@post.Slug">Read Full Post</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <a btn btn-dark btn-block btn-sm" asp-controller="Posts" asp-action="Details" asp-route-slug="@post.Slug">
                            <h2 class="post-title">@post.Title</h2>
                            <h3 class="post-subtitle">@post.Abstract</h3>
                        </a>
                        <p class="post-meta">
                            Posted by Jason M Twichell on @post.Created.ToString("MMM dd, yyyy")
                        </p>
                    </div>
                </div>
            </div>
            <hr />
        }

        <!-- Pager-->
        <div class="clearfix"><a class="btn btn-primary float-right" href="#!">Older Posts →</a></div>
    </div>
</div>