@model IEnumerable<BlogProj.Models.Post>
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using BlogProj.Services
@using X.PagedList
@inject IBlogFileService _fileService
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white">@Html.DisplayNameFor(blog => blog.Title)</h1>
@if (User.IsInRole("Administrator"))
{
    <p class="text-white">
        <a class="btn btn-warning" asp-action="Create">Create New</a>
    </p>
}
<div class="container container-fluid">
    @foreach (var post in Model)
    {
        <div class="row">
            <div class="col-4">
                <div class="item mb-5">
                    <div class="media">
                        <img class="img-fluid" style="width:100%" src=@_fileService.DecodeImage(post.ImageData, post.ContentType) alt="card image cap">
                    </div><!--//media-->
                </div>
                <div class="col-8">
                    <div class="media-body">
                        <h2 class="title mb-1">@Html.DisplayFor(modelItem => post.Title)</h2>
                        <div class="meta mb-1"><span class="date">Last Updated on: @Html.DisplayFor(modelItem => post.Updated)</span></div>
                        <div class="intro">
                            @Html.DisplayFor(modelItem => post.Abstract)
                        </div>
                        <a class="more-link" asp-action="Details" asp-controller="Posts" asp-route-slug="@post.Slug">Read Full Post &rarr;</a>
                    </div><!--//media-body-->
                </div><!--//item-->
            </div>
            @if (User.IsInRole("Administrator"))
            {
                <div class="btn btn-warning">
                    <a class="text-dark" asp-action="Edit" asp-route-id="@post.Id">Edit</a> |
                    <a class="text-dark" asp-action="Details" asp-route-slug="@post.Slug">Details</a> |
                    <a class="text-dark" asp-action="Delete" asp-route-id="@post.Id">Delete</a>
                </div>
            }
        </div>
        <hr />
    }
</div>
@*<div class="row">
    <div class="col h3">
        Page @(Model.PageCount < Model.PageNumber ? 0: Model.PageNumber) of @Model.PageCount
    </div>
</div>
<div class="row">
    <div class="col">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
       new PagedListRenderOptions
       {
           LiElementClasses = new string[] { "page-item" },
           PageClasses = new string[] { "page-link" }
       })
    </div>
</div>*@