@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using BlogProj.Services
@inject IBlogFileService _fileService
@model IPagedList<Blog>

@{
    ViewData["Title"] = "Home Page";
}


<section class="blog-list px-3 py-5 p-md-5">
    <div class="container">
        <div class="row">

            @foreach (var blog in Model)

            {
                <div class="col-4">
                    <div class="card" style="width: 18rem; height:max-content">
                        <img class="card-img-top" src=@_fileService.DecodeImage(blog.ImageData, blog.ContentType) alt="card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@blog.Title</h5>
                            <p class="card-text">@blog.Description</p>
                            <a class="more-link btn btn-warning" asp-controller="Posts" asp-action="BlogPostIndex" asp-route-id="@blog.Id">Read more &rarr;</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <hr />
</section>

<div class="row">
    <div class="col h3">
        Page @(Model.PageCount < Model.PageNumber ? 0: Model.PageNumber) of @Model.PageCount
    </div>
</div>

<div class="row">
    <div class="col">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
       new PagedListRenderOptions
       {
           LiElementClasses = new string[] { "page-item" },
           PageClasses = new string[] { "page-link" }
       })
    </div>
</div>
